
.container {
  display: inline-flex;
  margin:50px 450px;

}

figure {
  display:inline;
  width:300px;
}

#button {
  width: 150px;
}
#button input {
  margin-top: 80%;
}


/*style*/



img:target {
  outline: solid red 10px;
}

figcaption {
  text-align: center;
  width:250px;
