
.container {
  display:flex;
  margin:50px 200px 0px;
}
#page{
  height: 100%;
  width:100%;
}

figure {
  display:inline;
  width:300px;
}

#button {
  width: 150px;
}
#button input {
  margin-top: 50px;
  margin-left:130px;
}
#chart {
  margin-left:0px;
  margin-top: 10px;
}
#header {
  margin-left: 550px;
}
#figOne {
  margin-right: 20px;
}
#empty {
  height:400px;
}
h4 {
  margin-left: 4%;

}

/*style*/

img {
  border: solid white 5px;
}

img:active {
  outline: solid black 10px;
}
body{
  background-color:gray;
}

figcaption {
  text-align: center;
  width:250px;
  font-size:2em;
